body {
	height: 800px;
	
	background-color: #224488;
		
	background-image:
		url("shedewroom02.jpg")/*,
		radial-gradient(rgb(0 0 192 / 1.0), rgb(0 192 255 / 1.0))*/;
	background-size: 100%;
	background-repeat: no-repeat;
}
.h2 {
	color: #ddddff;
	font-size: 28px;
	/*font-style: underline;*/
	transition-property: color, font-size;
	transition-duration: 0.25s;
}
.h2:hover {
	color: #ffffff;
	/*font-style: underline;*/
	/*font-size: 30px;*/
}
.lower {
	position: absolute;
	left: 200px;
	top: 100px;
}
.center-div {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	/*vertical-align: middle;*/	/*workn't*/
}
.unlockable {
	display: none;
}
.space {
	padding: 200px 30px;
}
.midblock {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 0%;
	margin: -100px 0 0 0px;
	/*background: #60a839;*/
}



.btn {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	border: 2px outset #4488ff;
	background-color: #bbddff;
	color: #2266bb;
	font-size: 18px;
	font-weight: bold;
	transition-property: color, border, background-color;
	transition-duration: 0s;
}
.btn:hover {
	border: 2px outset #5498ff;
	background-color: #cbedff;
	color: #4488ff;
}
.btn:active {
	border: 3px inset #dd44bb;
	background-color: #ddbbff;
	color: #bb2288;
}

.btn-gift {
	width: 240px;
	height: 48px;
	border-radius: 12px;
	border: 3px outset #4466cc;
	background-color: #222266;
	color: #66aaff;
	font-size: 18px;
	font-weight: bold;
	transition-property: color, border, background-color;
}
.btn-gift:hover {
	border: 3px outset #5498ff;
	background-color: #222288;
	color: #aaddff;
}
.btn-gift:active {
	border: 4px inset #60a0ff;
	background-color: #2244aa;
	color: #aaaaff;
}
	


.frost_illustration {
	height: 320px;
	width: 320px;
}